/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,600,700&f[]=cabinet-grotesk@400,500,600,700&f[]=dancing-script@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,400;0,600;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply
    text-4xl
    font-cabinet
    font-bold
    decoration-rosePine-gold
    mt-8
    mb-0
  }
  h2 {
    @apply
    text-3xl
    font-cabinet
    font-bold
    decoration-rosePine-gold
    my-3
  }
  h3 {
    @apply
    text-2xl
    font-cabinet
    font-bold
    decoration-rosePine-gold
    my-3
  }
  h4 {
    @apply
    text-xl
    font-cabinet
    font-bold
    decoration-rosePine-gold
    my-3
  }
  p {
    @apply font-satoshi text-xl font-normal
  }
  strong {
    @apply font-cabinet font-bold
  }
  code {
    @apply 
    font-chivo 
    text-lg 
    text-rosePine-muted 
    dark:text-rosePineDawn-muted 
    inline-block 
    pr-1 
    pl-1 
    whitespace-pre 
    block 
    rounded-xl
  }
  ul {
    @apply
    my-2
    mx-auto
    text-xl
    list-disc
    md:indent-2
    list-inside
  }
  ol {
    @apply
    my-2
    mx-auto
    text-xl
    list-decimal
    md:indent-2
    list-inside
  }
}

body {
  font-family: 'Satoshi', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}
