@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,600,700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=zodiak@700,401,400,701&f[]=&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=dancing-script@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&display=swap');

body {
  font-family: 'Satoshi', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}
