---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Body from '../components/Body.astro'
import Masthead from '../components/Masthead.astro'
import { FaExclamationTriangle } from 'react-icons/fa/index.js'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <Masthead />
    <main class="px-8 mx-auto max-w-3xl">
      <section>
        <h1 class="text-3xl text-center mt-12 mb-8">
          <FaExclamationTriangle className="mb-4 items-center mx-auto content:justify-center text-center" size="50"/>
          <span>
            Oops, We can't find that.
          </span>
          <br />
          <span>
            Try something
          </span>
          <a href="/">
          <span class="text-rosePineDawn-gold hover:text-rosePine-pine dark:text-rosePine-gold hover:dark:text-rosePineDawn-pine underline underline-offset-2">
            else?
          </span>
          </a>
        </h1>
      </section>
    </main>
    <Footer />
  </Body>
</html>
