---
import { IoLogoReact } from "react-icons/io5/index.js";
import { SiAstro } from "react-icons/si/index.js";
const today = new Date();
---

<footer class="text-rosePine-text bg-rosePine-overlay p-8 text-center">
  <div class="align-middle text-2xl font-cabinet text-center inline-flex items-center">
    Built using
    <a href="https://astro.build" class="mr-1 items-center inline-flex p-1 align-middle underline underline-offset-1 decoration-2 text-orange-400 hover:transform">
      <SiAstro />
      Astro
    </a>
    &
    <a href="https://reactjs.org" class="items-center inline-flex p-1 align-middle underline underline-offset-1 decoration-2 text-blue-400 hover:transform">
      <IoLogoReact />
      React
    </a>
  </div>
  <br />
	&copy; {today.getFullYear()} <a href="/"> Abdul Samad Shaikh. All rights reserved.</a>
</footer>
