---
import ThemeToggle from './ThemeToggleButton';
import DropdownMenu from './DropdownMenu';

const allPosts = await Astro.glob('../pages/posts/*.md')
const allTags = new Set<string>()
allPosts.map(post => {
  post.frontmatter.tags &&
    post.frontmatter.tags.map((tag: string) => allTags.add(tag))
})
---

<header class="fixed w-full p-3 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/">
        <div class="font-regular text-xl font-cabinet">Schmeeky<span class="text-rosePineDawn-gold dark:text-rosePine-gold font-dancing text-2xl">Dev</span></div>
      </a>
      <div class="flex-1"></div>
      <ThemeToggle client:only/>
      <DropdownMenu client:visible tags={Array.from(allTags)} />
    </nav>
  </div>
</header>
