<section class="relative mb-6 h-80 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
  <img src="/banner.jpg" class="absolute h-auto left-1/2 top-1/2 min-w-full min-h-full object-cover -translate-x-1/2 -translate-y-1/2 opacity-50"/>
  </div>
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
    <div class="font-regular text-4xl font-cabinet">Schmeeky<span class="text-rosePineDawn-gold dark:text-rosePine-gold font-dancing text-5xl">Dev</span></div>
  </div>
</section>
